#!/usr/bin/make -f
#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
VER_FULL = $(shell dpkg-parsechangelog | grep '^Version' | cut -d' ' -f2 | cut -f1 -d-)

%:
	dh $@ --buildsystem=cmake --parallel

# Purposely not set CMAKE_BUILD_TYPE, see #701231
CMAKE_EXTRA_FLAGS += -DCMAKE_BUILD_TYPE:STRING=NONE \
 -DJXRLIB_INSTALL_LIB_DIR="lib/$(DEB_HOST_MULTIARCH)"

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_EXTRA_FLAGS)

pkg_bin=libjxr-tools
pkg_lib=libjxr0
pkg_dev=libjxr-dev
pkg_dbg=libjxr-dbg

override_dh_install:
	# bin
	dh_install -p$(pkg_bin) usr/bin
	# lib
	dh_install -p$(pkg_lib) usr/lib/$(DEB_HOST_MULTIARCH)/*.so.*
	# dev
	dh_install -p$(pkg_dev) usr/lib/$(DEB_HOST_MULTIARCH)/*.so
	dh_install -p$(pkg_dev) usr/include

debian/JxrDecApp.1: debian/JxrDecApp.1.in
	help2man --version-string=$(VER_FULL) --include=$< --output=$@ --no-info JxrDecApp

debian/JxrEncApp.1: debian/JxrEncApp.1.in
	help2man --version-string=$(VER_FULL) --include=$< --output=$@ --no-info JxrEncApp

debian/JPEGXR_DPK_Spec_1.0.txt: doc/JPEGXR_DPK_Spec_1.0.doc
	antiword $< > $@

override_dh_installman:
	dh_installman -p$(pkg_bin) debian/JxrDecApp.1
	dh_installman -p$(pkg_bin) debian/JxrEncApp.1

override_dh_installdocs:
	dh_installdocs doc/readme.txt
	dh_installdocs debian/JPEGXR_DPK_Spec_1.0.txt
	dh_installdocs

override_dh_strip:
	dh_strip --dbg-package=$(pkg_dbg)

get-orig-source:
	#uscan --verbose --force-download --rename
	./debian/get-orig-source
